// Fuentes
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$titulos:'PT Serif', serif;
    $titulos-2: 'Josefin Sans', sans-serif;
$texto: 'Ubuntu', sans-serif;
// Colores
$blanco:#FAEEE7;
$color-0:#131212;
$color-1: #24A19C;
$color-2: #FF6464;
$color-3: #246477;
$color-4: #EEC373;
$color-5: #06d6a0;
